/**
 * SM Apps Dashboard custom stylesheet
 */

/** Seven Theme **/
#block-seven-content #appdetails-search-form input.form-autocomplete,
#block-seven-content #appdetails-search-form input.form-text,
#block-seven-content #appdetails-search-form input.form-tel,
#block-seven-content #appdetails-search-form input.form-email,
#block-seven-content #appdetails-search-form input.form-url,
#block-seven-content #appdetails-search-form input.form-search,
#block-seven-content #appdetails-search-form input.form-number,
#block-seven-content #appdetails-search-form input.form-color,
#block-seven-content #appdetails-search-form input.form-file,
#block-seven-content #appdetails-search-form input.form-date,
#block-seven-content #appdetails-search-form input.form-time,
#block-seven-content #appdetails-search-form textarea.form-textarea {
  padding: 1px 1.571em 1px 0.5em;
}

#appdetails-search-form #edit-date-time-container h4 {
  display: table;
}

#appdetails-search-form #edit-date-time-container .form-item {
  margin-top: 0;
}

/*** Search Form */
form.smdp-appdetails-search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  border: 1px solid rgba(216,217,224,0.8);
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

form.smdp-appdetails-search-form .form-item {
  margin: 0.75rem 0.5rem 0 0;
}

form.smdp-appdetails-search-form .sm-datetime-container {
  display: inline-flex;
}

form.smdp-appdetails-search-form .form-datetime-wrapper .form-items-inline .form-item {
  margin-top: 0;
}

form.smdp-appdetails-search-form .form-item .button {
  margin-bottom: 0;
}

form.smdp-appdetails-search-form .edit-actions.form-item > .button:last-child {
  margin-right: 0;
}
